.back {
  background: #00a335;
  color: azure;
  border-radius: 5px;
  width: auto;
  height: 100%;
  margin-top: 40px;
  padding: 20px;
}

.back h1 {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  font-size: 30px;
}

html, body {
  min-height: 100%;
}

.menuLateral {
  background-color: #002630;
  widows: 100%;
  height: 850px;
}

.menuLateral a {
  color: #00a335;
  font-size: auto;
  font-weight: bold;
}